

div.dateRange {
    padding-top: 20px;
}

label.dates {
    padding-right: 6px;
}

div.result-panel {
    padding-top: 30px;
}

div.consultar {
    padding-top: 16px;
}

div.result-panel #result-table {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
}

th.status > i.fa {
    font-size: 1.2em;
}

span.result > i.fa {
    font-size: 1.1em;
}

div.captcha {
    padding-top: 1.5em;
}