<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring MVC + Thymeleaf Example</title>
</head>
<body>
<td>Hola <span th:text="${name}" /></td>
<br />
<td>Mensaje: <span th:text="${mensaje}" />!</td>
</body>
</html>